@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background: linear-gradient(-45deg, #ffffff, #ffafcf, #7895ff, #6bffda);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

.card {
  background-color: transparent;
  background-image: linear-gradient(
    rgb(255, 255, 255, 0.25) 55%,
    rgb(192, 255, 3, 0.55) 100%
  );
}

.card2 {
  @apply rounded-3xl bg-white/75 shadow-2xl shadow-lime-300;
}

.card3 {
  @apply rounded-3xl bg-white/75 shadow-2xl shadow-fuchsia-300;
}

body {
  border: 20px solid rgba(0, 255, 238, 0.3);
  min-height: 100vh;
  background-size: 160px 160px;
  background-image: linear-gradient(to right, #f8f0fd 8px, transparent 1px),
    linear-gradient(to bottom, #f8f0fd 8px, transparent 1px);
  @apply text-slate-700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply font-semibold;
}

table {
  @apply font-medium;
}
